# Pre-commit hooks for HPC Bench. Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-executables-have-shebangs
        # This hook is intended to run only on executable *text* files.
        # If we run it on all text files, it will (correctly) complain that
        # non-script files lack a shebang.
        types: [text, executable]
        exclude: '\.(md|json|yaml|yml)$|^src/|^\.gitignore$|^LICENSE$|^VERSION$|Makefile$'
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '4', '-ci', '-sr']
        exclude: '^src/'

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-s', 'bash', '-S', 'error']
        exclude: '^src/'
